* {
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  /* min-width: 100%; */
  height: 100vh;
  overflow: hidden;
}

.App-sidebar {
  opacity: 1;
  width: 14rem;
  background: #30014b;
  color: #fff;
  text-align: center;
  transition: all 200ms;  
  filter: drop-shadow(0 0.2rem 0.2rem #333);
}

.App-header,
.App-footer {
  background-color: #eee;
  padding: 0 1rem;
  color: #777;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
}

.App-content {
  width: 100%; 
}

.App-title {
  font-size: 1.5em;
}

.App-container {
  padding: 1rem;
  height: calc(100vh - 120px);
  background-color: #fff;
  /* overflow-y: scroll; */
  overflow-x: hidden;
}

@media only screen and (max-width: 700px) {
  .App-sidebar {
    opacity: 0;
    width: 0;
    overflow: hidden;
    /* display: none; */
  }
}

